@charset "UTF-8";
html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,address{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;font-size:inherit;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var,i{font-style:normal;font-weight:normal;}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;outline: none!important;}
select, input,label,button{ vertical-align:middle; }
a:link { text-decoration: none; color: #666666; }
a:visited { text-decoration: none; color: #666666; }
a:hover { text-decoration:none; color: #333; }
a:active { text-decoration: none;color: #666666; }
.clear { clear: both; height: 0px; _height: 1px; width: 100%; overflow: hidden; margin-top: -1px; float: none; }
.clearfix{zoom:1;}
.clearfix:after{ content:"."; display:block; height:0; clear:both; visibility:hidden; }
.left { float: left }
.right { float: right }
.tr{text-align: right;}
.tl{text-align: left;}
.tc{text-align: center;}
.w1000{width: 1000px;margin:0 auto;}
.w1200{width: 1200px;margin:0 auto;}
.len20{width: 20px!important;}
.len25{width: 25px!important;}
.len30{width: 30px!important;}
.len40{width: 40px!important;}
.len45{width: 45px!important;}
.len50{width: 50px!important;}
.len60{width: 60px!important;}
.len70{width: 70px!important;}
.len80{width: 80px!important;}
.len100{width: 100px!important;}
.len110{width: 110px!important;}
.len120{width: 120px!important;}
.len150{width: 150px!important;}
.len180{width: 180px!important;}
.len200{width: 200px!important;}
.len220{width: 220px!important;}
.len230{width: 230px!important;}
.len240{width: 240px!important;}
.len250{width: 250px!important;}
.len300{width: 300px!important;}
.len350{width: 350px!important;}
.radius2{-moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
.radius5{-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.radius8{-moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;}
.radius10{-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;}
.fw700{font-weight: 700;}
.fw400{font-weight: 400;}
.paddding8{padding:8px!important;}
.padddingLeft8{padding-left:8px!important;}
.padddingRight8{padding-right:8px!important;}
.padddingTop8{padding-top:8px!important;}
.padddingBottom8{padding-bottom:8px!important;}
.paddingTop16{padding-top: 16px!important;}
.paddingBottom16{padding-bottom: 16px!important;}
.paddingRight16{padding-right: 16px!important;}
.paddingLeft16{padding-left: 16px!important;}
.paddingTop28{padding-top: 28px!important;}
.paddingBottom28{padding-bottom: 28px!important;}
.paddingRight28{padding-right: 28px!important;}
.paddingLeft28{padding-left: 28px!important;}
.paddingTop36{padding-top: 36px!important;}
.paddingBottom36{padding-bottom: 36px!important;}
.paddingRight36{padding-right: 36px!important;}
.paddingLeft36{padding-left: 36px!important;}
.paddingRight100{padding-right: 100px!important;}
.bgf0{background-color: #f0f0f0!important;}
.marginBottom8{margin-bottom: 8px!important;}
.marginLeft8{margin-left: 8px!important;}
.marginRight8{margin-right: 8px!important;}
.marginTop8{margin-top: 8px!important;}
.marginBottom28{margin-bottom: 28px!important;}
.marginTop28{margin-top: 28px!important;}
.marginLeft28{margin-left: 28px!important;}
.marginRight28{margin-right: 28px!important;}
.marginBottom0{margin-bottom: 0px!important;}
.marginTop0{margin-top: 0px!important;}
.marginLeft0{margin-left: 0px!important;}
.marginRight0{margin-right: 0px!important;}
.top0{top:0!important;}
.bottom0{bottom:0!important;}
.left0{left:0!important;}
.right0{right:0!important;}
.dis_inline{display: inline!important;}
.height-auto{height: auto!important;}
.backgroundF7{background: #f7f7f7;}
html,body{
    font-family: Roboto , sans-serif;
    height: 100%;
}
*{
    box-sizing: border-box;
}
*:focus,*:focus-within,*:focus-visible{
    outline: none;
}